**/__pycache__/*
**/.ipynb_checkpoints/*
doc/_build
doc/_templates
doc/auto_examples
build/*
*.egg-info/*
htmlcov/*
.vscode/*
.devcontainer/*
.pep8
pytest_report.xml
.coverage
coverage.xml
**/cov.xml
*.ipynb
**/.ruff_cache
*.coverage.ip*