**/__pycache__/*
**/.ipynb_checkpoints/*
.idea/*
doc/_build
doc/_templates
doc/auto_examples
**/*.log
build/*
dist/*
*.egg-info/*
prof/*
htmlcov/*
.vscode/*
.devcontainer/*
**/*.parquet.gzip
.pep8
pytest_report.xml
.coverage
coverage.xml
**/cov.xml
*.ipynb
**/.ruff_cache
*.coverage.ip*